@tailwind base;
@tailwind components;
@tailwind utilities;


.card-bg-zkteco{
    background-image: url(/resources/images/zkteko.png);
}

.card-bg-fingerspot{
    background-image: url(/resources/images/revo.png);
}
